body {
  background-color: #FFD1BD;
  margin: 0;
}

/*Se agrega el primer display flex*/
ul {
  background-color: #C2F0FC;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 50px;
}

/*En esta parte se vuelve a poner un display flex para poder centrar las palabras*/
li {

  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

/*Se agregan las propiedades para que cuando se pase el cursor
provoque el cambio de colores*/
.one:hover, .two:hover, .three:hover {
  background-color: #FFB0CD;
  border: 2px solid #FFFFFF;
}